RewriteEngine On
RewriteBase /classroom/study
RewriteRule ^/classroom/study/index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /classroom/study/index.php [L]