RewriteEngine On
RewriteBase /classroom/setup
RewriteRule ^/classroom/setup/index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /classroom/setup/index.php [L,QSA]